root = "."
tmp_dir = "tmp"

[build]
  cmd = "go build -o ./tmp/main.exe ./cmd/sidecar"
  bin = "./tmp/main.exe"
  include_ext = ["go", "yaml"]
  exclude_dir = ["tmp", "vendor", ".git"]
  delay = 1000

[log]
  time = false

[color]
  main = "magenta"
  watcher = "cyan"
  build = "yellow"
  runner = "green"

[misc]
  clean_on_exit = true
